.info-container {
    margin: 25px;
    max-width: 614px;
}

h1 {
    color: #7ed321;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.info-paragraph {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
    .info-container {
        margin: auto;
        margin-top: 85px;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 15px;
    }
}