.jog-item-container {
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-box {
    margin-left: 46px;
    width: 120px;
}

.jog-icon {
    content: url('jog-icon.svg');
    width: 87px;
    height: auto;
}


.description-name {
    font-size: 14px;
}

.description-value {
    font-size: 14px;
    color: grey;
}

hr {
    height: 1px;
    border-width:0;
    background-color: #d7d7d7;
}

.add-jog-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border-width: 3px;
    border-color: #7ed321;
    border-style: solid;
    background-color: transparent;
    color: #7ed321;
    font-size: 25px;
    font-weight: 100;
}

@media screen and (min-width: 600px) {
    hr {
        display: none;
    }
}