.jog-filter-container {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.jog-filter-input-group {
    margin: 0px 22px;
    white-space: nowrap;
    padding: 4px;
}

/* TODO */

.jog-filter-input-group > label {
    margin-right: 15px;
    font-size: 13px;
    opacity: 0.5;
}

.jog-filter-input-group input {
    display: inline-block;
    border-radius: 11px;
    border-style: solid;
    line-height: 27px;
    width: 100%;
}